.page
	header
		.wrap
			a(href="#").logo
				//- img(src="/img/color-hunt-palettes-logo.png") 
				| WanYun
			ol#breadcrumbs
				li 
					a(href="#") WORK
				li
					#sort
						span JavaScript30
						#sortmenu.dropdown
							a.selected.button(data-button="JavaScript" href="#") JavaScript30
							a.button(data-button="100DAYSCSS" href="https://codepen.io/collection/DQgRPz/" target="_blank") 100dayscss
	.container
		.box
			img(src="/img/color-hunt-palettes-logo.png")
			span
				a(href="#") NOTE 
			span
				a(href="#") DEMO
		.box
			img(src="/img/color-hunt-palettes-logo.png")
			span
				a(href="#") NOTE 
			span
				a(href="#") DEMO
		.box
			img(src="/img/color-hunt-palettes-logo.png")
			span
				a(href="#") NOTE 
			span
				a(href="#") DEMO
		.box
			img(src="/img/color-hunt-palettes-logo.png")
			span
				a(href="#") NOTE 
			span
				a(href="#") DEMO
		.box
			img(src="/img/color-hunt-palettes-logo.png")
			span
				a(href="#") NOTE 
			span
				a(href="#") DEMO
		.box
			img(src="/img/color-hunt-palettes-logo.png")
			span
				a(href="#") NOTE 
			span
				a(href="#") DEMO
		.box
			img(src="/img/color-hunt-palettes-logo.png")
			span
				a(href="#") NOTE 
			span
				a(href="#") DEMO
		.box
			img(src="/img/color-hunt-palettes-logo.png")
			span
				a(href="#") NOTE 
			span
				a(href="#") DEMO